<div *ngIf="isLoading" class="loading-overlay">
  <div class="spinner"></div>
</div>
<button class="button" (click)="showForm()">➕ Thêm mới</button>
<table>
  <thead>
    <tr>
      <th>Giá điện</th>
      <th>Giá nước</th>
      <th>Số m³ vượt mức</th>
      <th>Giá m³ vượt mức</th>
      <th>Ngày thực hiện</th>
      <th>Trạng thái</th>
      <th>Thao tác</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let price of prices; let i = index">
      <td>{{ price.ElectricityPrice | number }}</td>
      <td>{{ price.WaterPrice | number }}</td>
      <td>{{ price.WaterLimit }}</td>
      <td>{{ price.WaterPriceOverLimit | number }}</td>
      <td>{{ price.ActionDate | date }}</td>
      <td [ngClass]="{'status-active': i === 0, 'status-inactive': i !== 0}">
        {{ i === 0 ? 'Còn hiệu lực' : 'Vô hiệu lực' }}
      </td>
      <td class="toolbar-actions">
        <button class="btn btn-danger" (click)="delete(price.Id)" >🗑️ Xóa</button>
    </td>
    </tr>
  </tbody>
</table>

<!-- Overlay mờ nền khi hiển thị form -->
<div class="overlay" *ngIf="isFormVisible"></div>

<!-- Form thêm/cập nhật giá điện nước -->
<div class="form-container" *ngIf="isFormVisible">
  <h3>Thêm / Cập nhật giá điện nước</h3>
  <form (ngSubmit)="submitPrice()">
    <label>Giá điện:</label>
    <input type="number" [(ngModel)]="newPrice.electricityPrice" name="electricityPrice" min="0" required>
  
    <label>Giá nước:</label>
    <input type="number" [(ngModel)]="newPrice.waterPrice" name="waterPrice" min="0" required>
  
    <label>Số m³ vượt mức:</label>
    <input type="number" [(ngModel)]="newPrice.waterLimit" name="waterLimit" min="0" required>
  
    <label>Giá m³ vượt mức:</label>
    <input type="number" [(ngModel)]="newPrice.waterPriceOverLimit" name="waterPriceOverLimit" min="0" required>
  
    <button type="submit">Lưu</button>
    <button type="button" (click)="hideForm()">❌ Hủy</button>
  </form>
  
</div>
