<div *ngIf="isLoading" class="loading-overlay">
    <div class="spinner"></div>
  </div>
<div *ngIf="value == 1" class="container">

<div class="tab-container">
    <!-- Tabs chọn tòa nhà -->
    <!-- Tab header hiển thị tổng số phòng trống và giường trống -->
<div class="tab-header">
    <button *ngFor="let dormitory of dormitories; let i = index" 
            (click)="selectedTab = i"
            [class.active]="selectedTab === i">
      KTX {{ dormitory.name }}
      <span *ngIf="getRoomStats(dormitory).rooms !== '0/0'">
        <br>({{ getRoomStats(dormitory).rooms }} phòng,
        <br>{{ getRoomStats(dormitory).beds }} giường)
      </span>
    </button>
  </div>
 

  <div class="container mt-4">
    <div class="tab-content">
      <div *ngFor="let dormitory of dormitories; let i = index" [hidden]="selectedTab !== i">
        <h3 class="text-center mt-4">Khu {{ dormitory.name }}</h3>
        <div class="building">
          <div *ngFor="let floor of getUniqueFloors(dormitory)" class="floor">
            <!-- Hiển thị Tầng lấy từ các phòng -->
            <h4 class="text-primary">Tầng {{ floor }}</h4>
            <div class="row g-3">
              <div *ngFor="let room of getRoomsByFloor(dormitory.rooms, floor)" class="col-lg-2 col-md-4 col-sm-6">
                <div class="card p-3 room-card shadow-lg text-center"
                     *ngIf="room.notAvailableSlots < room.totalSlots && room.status === 0 && room.statusBuilding === 0"
                     [ngClass]="{ 'bg-danger text-white': room.notAvailableSlots === room.totalSlots }"
                     (click)="openRegisterForm(room)">
                  <div class="card-body">
                    <h3 class="card-title">{{ room.name }}</h3>
                    <span class="badge bg-primary" *ngIf="room.gender === 0">Nam</span>
                    <span class="badge bg-danger" *ngIf="room.gender === 1">Nữ</span>
                    <p class="mt-2">
                      <strong>{{ room.notAvailableSlots }} / {{ room.totalSlots }}</strong> chỗ đã đăng ký
                    </p>
                    <h3 class="card-title">{{ room.price }} VND</h3>
                    <button class="btn btn-light mt-2">Đăng ký ngay</button>
                  </div>
                </div>
  
                <div class="card p-3 room-card shadow-lg text-center opacity-50"
                     *ngIf="!(room.notAvailableSlots < room.totalSlots && room.status === 0 && room.statusBuilding === 0)"
                     [ngClass]="{ 'bg-danger text-white': room.notAvailableSlots === room.totalSlots,
                                  'bg-secondary text-white': room.status === 1 }">
                  <div class="card-body">
                    <h3 class="card-title">{{ room.name }}</h3>
                    <span class="badge bg-primary" *ngIf="room.gender === 0">Nam</span>
                    <span class="badge bg-danger" *ngIf="room.gender === 1">Nữ</span>
                    <p class="mt-2">
                      <strong>{{ room.notAvailableSlots }} / {{ room.totalSlots }}</strong> chỗ đã đăng ký
                    </p>
                    <p class="text-warning" *ngIf="room.notAvailableSlots === room.totalSlots">Phòng đã đầy</p>
                    <p class="text-dark" *ngIf="room.status === 1">Không hoạt động</p>
                    <button class="btn btn-light mt-2" disabled>Khóa đăng ký</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>


<div class="modal-overlay" *ngIf="selectedRoom">
    <div class="modal1">
      <h3 class="font-bold text-center mb-4 text-lg">Đăng ký phòng {{ selectedRoom.name }}</h3>
      <!-- Ngày bắt đầu -->
<label>Ngày bắt đầu:</label>
<input type="date"
       [(ngModel)]="registerForm.startDate"
       [required]="true"
       [min]="isSummerSemester ? registrationPeriods.StartDate.substring(0, 10) : null"
       [max]="isSummerSemester ? registrationPeriods.EndDate.substring(0, 10) : null"
       [readonly]="!isSummerSemester"
       (change)="calculateTotal()">

<!-- Thông báo lỗi nếu chọn sai thứ tự -->
<p *ngIf="isSummerSemester && registerForm.startDate > registerForm.endDate"
   style="color: red;">
  Ngày bắt đầu phải nhỏ hơn ngày kết thúc!
</p>

<!-- Ngày kết thúc -->
<label>Ngày kết thúc:</label>
<input type="date"
       [(ngModel)]="registerForm.endDate"
       [required]="true"
       [min]="registerForm.startDate"
       [max]="isSummerSemester ? registrationPeriods.EndDate.substring(0, 10) : null"
       [readonly]="!isSummerSemester"
       (change)="calculateTotal()">

        <label>Giá phòng:</label>
        <input type="number" [(ngModel)]="registerForm.price" disabled (change)="calculateTotal()">
        <label>Tổng tiền:</label>
        <input type="number" [(ngModel)]="registerForm.total" disabled (change)="calculateTotal()">
        <button (click)="closeRegisterForm()">Hủy</button>
        <button (click)="submitRegister(registerForm)">Đăng ký</button>

    </div>
</div>
</div>
<div *ngIf="value ==0" class="alert alert-warning text-center">
    <strong>Chưa tới thời hạn đăng ký!</strong>
</div>