<!-- Loading Spinner -->
<div *ngIf="isLoading" class="loading-overlay">
  <div class="spinner"></div>
</div>
<div class="room-management">
  <h2>Quản lý Tòa nhà</h2>
  <div class="toolbar">
      <input class="search-box" type="text" placeholder="Tìm kiếm tòa nhà..." [(ngModel)]="searchText" (input)="filterBuildings()" />
      <button class="button" (click)="openAddModal()">➕ Thêm tòa nhà</button>
  </div>

  <table class="table">
      <thead>
          <tr>
              <th>Tên tòa nhà</th>
              <th>Mô tả</th>
              <th>Trạng thái</th>
              <th>Thao tác</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let building of filteredBuildingsList">
              <td>{{ building.NameBuilding }}</td>
              <td>{{ building.Description }}</td>
              <td>
                  <div class="toggle-switch" [class.active]="building.Status === 0" (click)="toggleBuildingStatus(building)">
                      <div class="toggle-button"></div>
                  </div>
              </td>
              <td class="toolbar-actions">
                  <button class="btn btn-warning" (click)="openUpdateModal(building)">✏️ Sửa</button>
                  <button class="btn btn-danger" (click)="delete(building)">🗑️ Xóa</button>
              </td>
          </tr>
      </tbody>
  </table>
</div>

<!-- Modal thêm tòa nhà, hiển thị ngay khi vào trang -->
<div *ngIf="isAddModalOpen || isUpdateModalOpen" class="modal-overlay">
  <div class="modal" [class.show]="isAddModalOpen">
    <div class="modal-content">
      <h3 class="modal-title">
      {{ isUpdateModalOpen ? '✏️ Chỉnh sửa tòa nhà' : '➕ Thêm tòa nhà' }}
      </h3>
      <label for="NameBuilding">Tên tòa nhà:</label>
      <input id="NameBuilding" type="text" [(ngModel)]="newBuilding.NameBuilding" placeholder="Nhập tên tòa nhà">

      <label for="Description">Mô tả:</label>
      <textarea id="Description" [(ngModel)]="newBuilding.Description" placeholder="Mô tả"></textarea>

      <div>
        <label for="status">Trạng thái:</label>
        <select id="status" [(ngModel)]="newBuilding.Status">
          <option [value]="0">✅ On</option>
          <option [value]="1">❌ Off</option>
        </select>
      </div>
    

    <div class="modal-actions">
      <button (click)="closeModals()">❌ Hủy</button>

        <button *ngIf="isAddModalOpen" (click)="addBuilding()">➕ Thêm</button>
        <button *ngIf="isUpdateModalOpen" (click)="updateBuilding(newBuilding)">✏️ Cập nhật</button>
          </div>
  </div>
  </div>
</div>
