<div class="dashboard-container">

    <nav class="sidebar">
        <h2>Staff Dashboard</h2>
        <ul>
            <li routerLinkActive="active"><a routerLink="/staffs/electricity-managerment">📄 Ghi Điện - Nước</a></li>
<li [ngClass]="{ 'has-unread': unrespondedRequestsCount > 0 }">
                <a routerLink="/staffs/helps" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    🤝 Hỗ trợ
                    <span *ngIf="unrespondedRequestsCount > 0" class="notification-badge">
                        {{ unrespondedRequestsCount }}
                    </span>
                </a>
            </li>        </ul>
        <div class="logout">
            <button class="logout-btn" (click)="logout()">
                <i class="fas fa-sign-out-alt"></i> Đăng xuất
              </button>
                  </div>
    </nav>
    
    <!-- Đây là nơi nội dung thay đổi theo route -->
    <main class="content">
        <router-outlet></router-outlet>
    </main>
    </div>
    