<!-- Loading Spinner -->
<div *ngIf="isLoading" class="loading-overlay">
  <div class="spinner"></div>
</div>

<div class="container">
  <h2>Quản lý thông tin nhân viên</h2>
    <div class="content">  
              <button class="button" (click)="showForm()">➕ Thêm mới</button>

      <div class="search-container">
        <input type="text" class="search-box" [(ngModel)]="searchText" placeholder="🔍 Tìm kiếm theo tên hoặc mã" (input)="onSearchChange()" />
      </div>
  
      <table class="table">
        <thead>
          <tr>
            <th>UserName</th>
            <th>UserCode</th>
            <th>Phone</th>
            <th>Thao tác</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let account of filteredAccounts">
            <td>{{ account.Account.UserName }}</td>
            <td>{{ account.Account.UserCode }}</td>
            <td>{{ account.Account.NumberPhone }}</td>
            <td>
              <button (click)="blockAccount(account.Account.AccountId)" class="btn-block">🗑️ Xóa</button>
            </td>
          </tr>
        </tbody>
      </table>

      <div class="modal-actions">
        <button class="pagination-btn" (click)="prevPage()" [disabled]="currentPage === 1"><<</button>
        <span class="pagination-info">{{ currentPage }} / {{ totalPages }}</span>
        <button class="pagination-btn" (click)="nextPage()" [disabled]="currentPage >= totalPages">>></button>
      </div>
    </div>
</div>

<!-- Overlay mờ nền khi hiển thị form -->
<div class="overlay" *ngIf="isFormVisible" (click)="hideForm()"></div>

<!-- Form hiển thị giữa màn hình -->
<div class="form-container" *ngIf="isFormVisible">
  <h3>Thêm tài khoản mới</h3>
  <input type="text" [(ngModel)]="newAccount.UserName" placeholder="Tên tài khoản" />
  <input type="text" [(ngModel)]="newAccount.UserCode" placeholder="Mã tài khoản" />
  <input type="text" [(ngModel)]="newAccount.NumberPhone" placeholder="Số điện thoại" />
  <input type="text" [(ngModel)]="newAccount.Password" placeholder="Mật khẩu" />
  <button (click)="addAccount()">✔️ Thêm</button>
  <button (click)="hideForm()">❌ Hủy</button>
</div>
