<header class="navbar">
  <div class="logo">
    <!-- <img src="/assets/logo_xt.png" alt="Logo" /> -->
  </div>

  <nav class="nav-menu">
    <ul>
      <li><a routerLink="/user/home" routerLinkActive="active"><i class="fas fa-home"></i> Trang chủ</a></li>
      <li><a routerLink="/user/personal" routerLinkActive="active"><i class="fas fa-user"></i> Cá nhân</a></li>
      <li><a routerLink="/user/registerRoomUser" routerLinkActive="active"><i class="fas fa-door-open"></i> Đăng ký phòng</a></li>
      <li><a routerLink="/user/roomManager" routerLinkActive="active"><i class="fas fa-cogs"></i> Quản lý phòng</a></li>
      <li><a routerLink="/user/historyRegister" routerLinkActive="active"><i class="fas fa-history"></i> Lịch sử</a></li>
      <li><a routerLink="/user/userhelp" routerLinkActive="active"><i class="fas fa-question-circle"></i> Hỗ trợ</a></li>
    </ul>
  </nav>

  <div class="nav-icons">
    <button class="logout-btn" (click)="logout()">
      <i class="fas fa-sign-out-alt"></i>
    </button>
  </div>
</header>

<main class="main-content">
  <router-outlet></router-outlet>
</main>
