<div *ngIf="isLoading" class="loading-overlay">
  <div class="spinner"></div>
</div>
<div *ngIf="registers && registers.length > 0; else noRegister" class="container">

<div class="container">
    <h2>Lịch sử đăng ký</h2>  
    <div *ngIf="registers.length > 0">
      <table>
        <thead>
          <tr>
            <th>#</th>
            <th>Phòng</th>
            <th>Ngày bắt đầu</th>
            <th>Ngày kết thúc</th>
            <th>Ngày thực hiện</th>
            <th>Tổng tiền</th>
            <th>Thanh toán</th>
            <th>Trạng thái</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let register of registers; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ register.RoomInfo.RoomName }} - {{ register.BuildingInfo.NameBuilding }}</td>
            <td>{{ register.StartDate | date: 'dd/MM/yyyy' }}</td>
            <td>{{ register.EndDate | date: 'dd/MM/yyyy' }}</td>
            <td>{{ register.ActionDate | date: 'dd/MM/yyyy' }}</td>
            <td>{{ register.Total | currency: 'VND' }}</td>
            <td [ngClass]="{
              'text-success': register.PaymentStatus === 0,
              'text-danger': register.PaymentStatus === 1 || register.PaymentStatus === 2
            }">
              {{ register.PaymentStatus === 0 ? 'Đã thanh toán' :
                 register.PaymentStatus === 1 ? 'Chưa thanh toán' :
                 register.PaymentStatus === 2 ? 'Hủy' : 'Không xác định' }}
            </td>
            
            <td [ngClass]="{
              'text-success': register.Status === 0,
              'text-secondary': register.Status === 1,
              'text-danger': register.Status === 2,
              'text-warning': register.Status === 3
            }">
              {{ register.Status === 0 ? 'Hoạt động' :
                 register.Status === 1 ? 'Ngưng hoạt động' :
                 register.Status === 2 ? 'Blocked' :
                 register.Status === 3 ? 'Đợi thanh toán' : 'Hết hạn' }}
            </td>
            
        
          </tr>
        </tbody>
      </table>
    </div>
</div>
</div>
<ng-template #noRegister>
  <div class="alert alert-warning text-center">
    <strong>Bạn chưa đăng ký phòng. Vui lòng liên hệ quản lý để được hỗ trợ!</strong>
  </div>
</ng-template>
